body {
  background-color: rgb(218, 175, 255);
}

header {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(58, 6, 93);
}

.section-style {
  background-color: blueviolet;
  border: 10px;
  border-style: double;
  border-color: rgb(240, 224, 255);
  color: rgb(248, 238, 255);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  margin: 10px;
  padding-bottom: 15px;
}
